{% extends "index.html" %}

{% block content %}
    <h1>Editoras</h1>

    <a href="{{ url_for('cadastrar_editora') }}">Cadastrar Nova Editora</a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Endereço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for editora in editoras %}
            <tr>
                <td>{{ editora.ID_editora }}</td>
                <td>{{ editora.Nome_editora }}</td>
                <td>{{ editora.Endereco_editora }}</td>
                <td>
                    <a href="{{ url_for('editar_editora', id=editora.ID_editora) }}">Editar</a> |
                    <a href="{{ url_for('excluir_editora', id=editora.ID_editora) }}" onclick="return confirm('Deseja realmente excluir?');">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
